<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
  
  
  
  
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title ">Liste des employés presents dans les bus</h4>
                       
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                  <th>Matricule</th>
                                  <th>Nom</th>
                                  <th>Prenom</th>
                                  <th>Segment</th>
                               
                                </thead>
                                <tbody>
                                  <tr >
                                      <td>23234</td>
                                      <td>Guezguez</td>
                                      <td>Mohamed</td>
                                      <td>Seg-22</td>
                                      
                                  </tr>
                                 
                                   
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
  </div>
  
  
  
  
  
  
  
    
  
  
  
  
  