<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap" rel="stylesheet"> 

<div id="banner">
 

  <div style="    overflow: auto;">
    <div class="header" id="myHeader"  style="background: rgba(255, 255, 255, 0.3);     overflow: auto;">
      <img src="https://upload.wikimedia.org/wikipedia/commons/f/f4/Leoni_AG_Logo.svg"  style="height: 60px;  float: left; margin: 10px;">
      </div>

<aside class="container">
  <form (submit)="forgotpswd(email)">
    <p>mot de passe oublié ?</p>
    <input  name="myName"type="email" placeholder="Email" [(ngModel)]="email"><br>

    <button value="send" type="submit"> Envoyer</button>
    <br>
    
  </form>

  <div class="drops">
    <div class="drop drop-1"></div>
    <div class="drop drop-2"></div>
    <div class="drop drop-3"></div>
    <div class="drop drop-4"></div>
    <div class="drop drop-5"></div>
 
</div>
</aside>

</div>





